<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Intellieye</title>
</head>
<body class="flex flex-col justify-center items-center bg-[#f2f2f2] overflow-x-hidden">
    <nav class="bg-white shadow-lg w-[100%] sticky top-0">
        <div class="flex justify-between px-4 h-16 w-[100%]">
            <div class="shrink-0 flex items-center">
                <a href="/" class="text-2xl font-bold text-gray-800">Around Eyes Health</a>
            </div>
            <div class="hidden md:flex md:ml-10 md:space-x-8 items-center">
                <a href="/" class="text-gray-800 hover:text-gray-600 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                <a href="/readme" class="text-gray-800 hover:text-gray-600 px-3 py-2 rounded-md text-sm font-medium">Read Me</a>
            </div>
        </div>
    </nav>
    <div class="py-16 w-[100vw] flex justify-center">
        <table class="max-w-[50rem]">
            <tr>
                <td class="uppercase text-2xl">Read me first</td>
            </tr>
            <tr>
                <td class="text-md text-justify py-5">
                    Hello, I'm Haztsu. I'm the creator of this website. This project was made to fulfill 
                    the graduation requirements for the <i>Artificial Intelligence Skill Academy Pro</i> Bootcamp at Ruang Guru. 
                    <br><br>
                    All answers provided by this website are 100% AI-generated. Therefore, <b>please be cautious 
                    when accepting any information obtained here</b>. As the creator, I'm aware of my limited 
                    knowledge in health. Additionally, I don't have a real expert to verify all the information 
                    regarding myths, facts, or trivia about eyes health. Because of this, <b>there's a possibility the AI 
                    may provide irrelevant answers</b>.
                    <br><br>
                    <b>Please use this AI responsibly!</b> If you have 
                    any vision-related concerns, it's best to consult an eye doctor directly.
                </td>
            </tr>
            <tr class="">
                <td class="py-3 text-left text-xl">What technologies behind this project?</td>
            </tr>
            <tr class="">
                <td class="py-3 pl-5 text-left">
                    This is Langchain-based project using RAG (Retrieval-Augmented Generation).
                    Langchain's component used are:
                    <ul class="list-disc list-inside ml-5">
                        <li>Document Loader
                        </li>
                        <li>Vector Stores
                            <ul class="list-none ml-10">
                                <li>Vector Store used in this project is Chroma</li>
                            </ul>
                        </li>
                        <li>Text Splitter</li>
                        <li>Prompt Template
                            <ul class="list-none ml-10">
                                <li>Used as both input and instructions for the AI</li>
                            </ul>
                        </li>
                        <li>LLM Model
                            <ul class="list-none ml-10">
                                <li>Gemini-2.0-flash-lite-001 is being used for this project</li>
                            </ul>
                        </li>
                    </ul>
                    
                </td>
            </tr>
            <tr class="">
                <td class="py-3 text-left text-xl">How to gather data about eyes health?</td>
            </tr>
            <tr class="">
                <td class="py-3 pl-5 text-left">
                    <b>Please pay close attention again!</b> Due to the creator's limited knowledge in health,  
                    the creator built the dataset independently by prompting popular free AI tools like  
                    OpenAI ChatGPT and Google Gemini
                </td>
            </tr>
            <tr class="">
                <td class="py-3 text-left text-xl">How to verify the information?</td>
            </tr>
            <tr class="">
                <td class="py-3 pl-5 text-left">
                    The creator performed validation  
                    using popular and free AI tools like OpenAI ChatGPT and Google Gemini. For example, if both AIs  
                    agreed that a piece of eye health information was factual, it was included in the dataset.  
                    However, if the AIs provided conflicting answers, the related information was discarded.  
                </td>
            </tr>
        </table>
    </div>
</body>
</html>